<p id="notice"><%= notice %></p>

<p>
  <strong>ID:</strong>
  <%= @favorite.id %>
</p>

<p>
  <strong>Favorable ID:</strong>
  <%= @favorite.favorable_id %>
</p>

<p>
  <strong>Favorable Type:</strong>
  <%= @favorite.favorable_type %>
</p>

<p>
  <strong>User ID:</strong>
  <%= @favorite.user_id %>
</p>

<p>
  <strong>Created At:</strong>
  <%= @favorite.created_at %>
</p>

<p>
  <strong>Updated At:</strong>
  <%= @favorite.created_at %>
</p>

<%= link_to 'Edit', edit_favorite_path(@favorite) %> |
<%= link_to 'Back', favorites_path %>
